.env
/__pycache__
projectConnection.session.sql
/__pycache__
testDataframe.py
dummyDataGenerator.py
/dist
/build
/assets
*.spec
HospitalManagementSystem_Client_Setup.exe
HospitalManagementSystem_Server_Setup-DESKTOP-T13E5P1.exe
HospitalManagementSystem_Server_Setup.exe
.env
.vscode/settings.json
/.vscode
build_packages.py
requirements.txt.txt
requirements.txt
README.md
package_server.py
package_client.py
hospitaldb_patch.py
hcp_setup.py
dbconfig.py
db_migration.py
config_handler.py
build_packages.py
projectConnection.session.sql
assets/icon.ico
/assets
/build
/dist
HospitalManagementSystem_Client.spec
HospitalManagementSystem_Client_Setup.exe
HospitalManagementSystem_Server.spec
HospitalManagementSystem_Server_Setup-DESKTOP-T13E5P1.exe
HospitalManagementSystem_Server_Setup.exe
